// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1, p{
  padding-top: 0.7em;
}
.nav-link a:link { 
  text-decoration:none; 
  color: #6c757d;
}

.flex{
  display: flex;
  color: rgba(255, 255, 255, 0.55);
  align-items: center;
  width: max-content;
}
